.avatar { width: 200px; height: 200px; display: block; margin: 0 auto;
    } 
* {
        box-sizing: border-box;
      }
      
.header{

    }    
.main{

    }

.nav-list{
        display: flex; justify-content: space-between; list-style: none;
    }
.body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
.html {
            scroll-behavior: smooth; 
      }

.footer {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
.footer .rs-logo img {
        display: block;
        width: 100px;
        height: 50px;
    }
.front-end{
    color: blue;
}
