*,
::before,
::after {
  padding: 0;
  margin: 0px 0px 0px 0px;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

/*===================================================================================================*/

/*Прижатие footer'a */

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}
[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

/*===================================================================================================*/

.wrapper {
}
.header {
}
.header__container {
}
.menu {
}
.menu__list {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  text-transform: uppercase;
}
.menu__item {
}
.menu__item:hover {
  background-color: #b8b8b8;
  opacity: 0.5;
  border-radius: 30%;
  transition: 0.3s;
}

.menu-link {
  font-family: "Play";
  font-weight: 200;
  padding: 20px;
}
.main__container {
  display: flex;
  margin-bottom: 35px;
}
.column-left {
  display: flex;
  gap: 50px;
  width: 50%;
  height: 350px;
}
.column-left__foto {
  border-radius: 15%;
}
.column-left__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.column-left__title {
  width: 100px;
  margin-bottom: 100px;
}

.column-left__subtitle {
  font-family: "Play";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.column-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 100px;
}
.about {
  line-height: 2;
}
.about__title {
  font-family: "Play";
  font-size: 24px;
  font-weight: 700;
}

.about__subtitle {
  font-family: "Play";
  font-size: 20px;
  font-weight: 400;
}
.skills {
  line-height: 2;
}
.skills__title {
  line-height: 2;
}
.skills__list {
  font-family: "Play";
  font-size: 20px;
  font-weight: 400;
}
.skills__item {
}
.code {
}
.code__title {
  line-height: 2;
}
.code__example {
  font-size: 20px;
  line-height: 2.5;
}
.project__subtitle {
  font-family: "Play";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.courses {
}
.courses__title {
  line-height: 2;
}
.courses__subtitle {
  font-family: "Play";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.languages {
}
.languages__title {
  line-height: 2;
}
.languages__subtitle {
  font-family: "Play";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.contacts {
}
.contacts__title {
  line-height: 2;
}

.contacts__list {
  font-family: "Play";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.contacts__item {
}
.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.footer__year {
}
.footer__logo-course {
}
.footer__logo-github {
}

.title {
  font-family: "Play";
  font-size: 24px;
  font-weight: 700;
}
